<div id="<%= dom_id chess_game %>">
  <p>
    <strong>Black player:</strong>
    <%= chess_game.black_player %>
  </p>

  <p>
    <strong>White player:</strong>
    <%= chess_game.white_player %>
  </p>

  <p>
    <strong>Winner:</strong>
    <%= chess_game.winner %>
  </p>

</div>
